<h1>New Cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :difficulty, as: :radio_buttons, collection: [
    ['0', ' Easy'], ['1', ' Medium'], ['2', ' Hard']],
    label_method: :second, value_method: :first %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Add cocktail", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', cocktails_path %>
