<div class="banner-section">
  <%= @cocktail.name %>
</div>

<div class="show-cocktail-container">
     <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %>

    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %></li>
        <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), class:"btn btn-primary",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
      <% end %>
    </ul>

    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

</div>

<div class="footer-section">
  <%= link_to 'Back', cocktails_path %>
</div>




