<h1>Add ingredient</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add ingredient", class: "btn btn-primary" %>
<% end %>

<br>

<%= link_to 'Back', cocktail_path(@cocktail) %>
